<div class="headerClass">
    <div class="headerTitle">Student Profiles Portal</div>
</div>
<div class="appBody">
    <div class="savedResultsTitle">Enter Student Information</div>
    <div class="applicationBodyHomePage">
        <div class="projectForm">
            <form [formGroup]="studentForm" (ngSubmit)="onStudentFormSubmit()">
                <small class="warningText">*All fields are required to submit profile*</small>
                <div class="eachFormInput">
                    <label class="formLabel" for="firstname">First Name </label>
                    <input class="formInput" type="text" id="firstname" name="firstname" formControlName="firstname">
                </div>

                <div class="eachFormInput">
                    <label class="formLabel" for="lastname">Last Name </label>
                    <input class="formInput" type="text" id="lastname" name="lastname" formControlName="lastname">
                </div>

                <div class="eachFormInput">
                    <label class="formLabel" for="email">Email </label>
                    <input class="formInput" type="text" id="email" name="email" formControlName="email">
                </div>

                <div class="eachFormInput">
                    <label class="formLabel" for="gender">Gender </label>
                    <input class="formInputRadio" type="radio" value="male" id="gender" name="gender"
                        formControlName="gender">
                    Male
                    <input class="formInputRadio" type="radio" value="female" id="gender" name="gender"
                        formControlName="gender"> Female
                </div>

                <div class="eachFormInput">
                    <label class="formLabel" for="country">Department</label>
                    <input class="formInput" type="text" id="department" name="department" formControlName="department">
                </div>

                <div class="eachFormInput">
                    <label class="formLabel" for="country">country</label>
                    <input class="formInput" type="text" id="country" name="country" formControlName="country">
                </div>

                <div class="submitButtonClass">
                    <button class="submitButton" type="submit">SUBMIT</button>
                </div>

            </form>
        </div>
    </div>
    <div class="savedResultsTitle">All Saved Records</div>
    <div *ngIf="finalDisplayResults" class="tableToDisplayResults">
        <table id="dtBasicExample" class="table table-striped" width="100%">
            <thead>
                <tr>
                    <th scope="col" class="th-sm">First Name

                    </th>
                    <th scope="col" class="th-sm">Last Name

                    </th>
                    <th scope="col" class="th-sm">Email

                    </th>
                    <th scope="col" class="th-sm">Gender

                    </th>
                    <th scope="col" class="th-sm">Department

                    </th>
                    <th scope="col" class="th-sm">Country

                    </th>
                    <th scope="col" class="th-sm">Date

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let item of profileResults | paginate: paginationConfig">
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.country}}</td>
                    <td>{{item.createdDate | date:'medium' }}</td>
                </tr>
            </tbody>

        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>
<div class="footerClass">
    <div class="footerContent"> By Nandini Chalamalasetty </div>
</div>